*{
  box-sizing: border-box;
}

/* html {
  height:100%;
  scroll-behavior: smooth;
} */

body{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}

img {
  max-width: 100%;
  height: auto;
}

/* OUTLINE STYLES */
*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 2px;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 13px 20px;
  border-radius: 10px;
  text-decoration: none;
  line-height: normal;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.button-block {
  display: block;
  width: 100%;
  border: 0;
}

.button-primary {
  background: #7296EC;
  color: #fff;
}

.button-orange {
  padding-right: 30px;
  padding-left: 30px;
  background-color: #F78B3B;
  color: #fff;
  border: 0;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}


/* SITE-HEADER */
.site-header-top {
  background-color:#F6F6F6;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* SITE-HEADER-TOP */
.site-header-top-container {
  display: flex;
  align-items: center;
}


.site-header-logo {
  display: flex;
  margin-right: 32px;
  background-color: #fff;
  padding: 8px 6px;
  border-radius: 7px;
}

.site-header-logo:hover {
  opacity: .8;
}

.site-header-logo:active {
  opacity: .6;
}

/* CURRENCY-RATE */
.currency-rates {
  display: flex;
  align-items:center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.currency-rates-type {
  color:#2959CE;
}

/* GLOBAL-SEARCH-FORM  */
.global-search-form{
  margin-right: 25px;
}

.global-search-form-input{
  padding: 15px 20px 13px 40px;
  font-size: 14px;
  font-style: normal;
  border: 0;
  border-radius: 60px;
}

/* LANG-TOGGLE */
.lange-togle {
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background: #DCE6FF;
  margin-right: 25px;
}
.lang-toggle-link {
  width: 30px;
  height: 30px;
  border-radius:50%;
  font-size: 13px;
  color: #A6A6A6;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}
.lang-taggle-active {
  background-color: #fff;
  color:#000;
}

.sitenav {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
}
.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.sitenav-item:not(:last-child) {
  margin-right: 34px;
}

.sitenav-link {
  display: block;

  text-decoration: none;
  color: #7f7f7f;
}

.sitenav-link:hover{
  color: #7296ec;
}

.sitenav-link:active{
  opacity: 0.6;
}

.site-header-banner-link{
  display: flex;
}


/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
  padding-top: 50px;
}


/* NEW-GRID */
.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;

}
.news-grid-item {
  width: 393px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  border-radius:15px;
  background-color: #F6F6F6;
}
.article-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.article-card-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.article-card-link:hover{
  color: #7296ec;
}

.article-card-link:active{
  opacity: 0.6;
}

.article-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.article-card-img {
  display: block;
  width: 359px;
  height: 165px;
  margin-top: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  object-fit: cover;
}

.article-card-footer {
  display: flex;
  align-items:center;
}

.article-card-source-icon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}

.article-card-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5E5F61;
}

  /* NATIFICATION-CTA */
.notification-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px 25px 25px;
  margin: 60px 75px;
  border-radius: 10px;
  background-color: #ffd7ba

}
.notification-cta-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
}


/*  GLOBAL-NEWS  */
.side-by-side {
  display: flex;
  padding-bottom: 100px;
}

.global-news-headin {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

.global-news {
  width: 797px;
  margin-right: 10px;
}

.news-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}
.new-list-item:not(:last-child) {
  margin-bottom: 10px;
}

/* ARICAL- CARD-HORIZONTAL */
.article-card-horizontal {
  display: flex;
  align-items: flex-start;
  padding: 20px 20px 20px 17px;
  border-radius: 15PX;
  background-color: #f6f6f6;
}

.article-card-horizontal-img {
  width: 210px;
  height: 165px;
  border-radius: 10px;
  margin-right: 15px;
  object-fit: cover;
}

.article-card-horizontal-content {
  flex-grow: 1;
}

.article-card-horizontal-footer {
  display: flex;
  align-items: center;
}

.new-list-more-button {
  padding: 17px;
}


/* SITEBAR-NEWS-CARD */
.layout-sitebar {
  width: 393px;
}

.sitebar-news-card {
  padding: 20px 20px 25px 17px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #f6f6f6;
  color: #000;
}

.sitebar-news-card-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
}

.sitebar-news-card-list {
  padding: 0;
  margin: 0;
  list-style: none;

}

.sitebar-news-card-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sitebar-news-card-item:first-child {
  padding-top: 0;
}

.sitebar-news-card-item:last-child {
  padding-bottom: 0;
}

.sitebar-news-card-item:not(:first-child) {
  border-top: 1px solid #D2D2D2;
}

.sitebar-news-card-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.sitebar-news-card-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.sitebar-news-card-link:hover{
  color:#7296ec;
}

.sitebar-news-card-link:active {
  opacity: 0.6;
}

.action-img {
  width: 393px;
  height: 338px;
  border-radius: 15px;
  object-fit: cover;
}